<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <!-- Uncomment to use Endpoints Frameworks v1.0 and comment the v2.0 section -->
        <!--
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        -->
        <!-- End of Endpoints Frameworks v1.0 -->
        <!-- Endpoints Frameworks v2.0 -->
        <servlet-name>EndpointsServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.EndpointsServlet</servlet-class>
        <!-- End of Endpoints Frameworks v2.0 -->
        <init-param>
            <param-name>services</param-name>
            <param-value>com.example.sky0621.fs2.YourFirstAPI</param-value>
        </init-param>
        <init-param>
            <param-name>restricted</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <!-- Uncomment to use Endpoints Frameworks v1.0 and comment the v2.0 section -->
        <!--
        <servlet-name>SystemServiceServlet</servlet-name>
        <workerUrls-pattern>/_ah/spi/*</workerUrls-pattern>
        -->
        <!-- End of Endpoints Frameworks v1.0 -->
        <!-- Endpoints Frameworks v2.0 -->
        <servlet-name>EndpointsServlet</servlet-name>
        <workerUrls-pattern>/_ah/api/*</workerUrls-pattern>
        <!-- End of Endpoints Frameworks v2.0 -->
    </servlet-mapping>

    <!-- Add a filter that fetches the service config from service management. -->
    <filter>
        <filter-name>endpoints-api-configuration</filter-name>
        <filter-class>com.google.api.control.ServiceManagementConfigFilter</filter-class>
    </filter>

    <!-- Add a filter that performs Endpoints logging and monitoring. -->
    <!-- [START api_management] -->
    <filter>
        <filter-name>endpoints-api-controller</filter-name>
        <filter-class>com.google.api.control.extensions.appengine.GoogleAppEngineControlFilter</filter-class>
        <init-param>
            <param-name>endpoints.projectId</param-name>
            <param-value>${endpoints.project.id}</param-value>
        </init-param>
        <init-param>
            <param-name>endpoints.serviceName</param-name>
            <param-value>${endpoints.project.id}.appspot.com</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>endpoints-api-configuration</filter-name>
        <servlet-name>EndpointsServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>endpoints-api-controller</filter-name>
        <servlet-name>EndpointsServlet</servlet-name>
    </filter-mapping>
    <!-- [END api_management] -->

    <servlet>
        <servlet-name>myqueue01</servlet-name>
        <servlet-class>com.example.sky0621.fs2.worker.MyWorker01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myqueue01</servlet-name>
        <workerUrls-pattern>/tasks/named1</workerUrls-pattern>
    </servlet-mapping>

</web-app>
